@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  transition: all 1s ease-in-out;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  overflow-x: hidden;
}

.subscribe-section {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-bottom: 50px;
}

.subscribe-text {
  padding: 20px 0;
}
.subscribe-input {
  width: 100%;
}

/* FORM */
.field {
  padding: 5px;
}

.form-newsletter {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: column;
}

.field {
  width: 100%;
}

.btn-form {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: black;
  color: #fff;
}

/* TAB */
.tab-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 100px 0;
  font-size: larger;
}

.tab {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  margin-right: 5px;
  transition: all 0.2s ease-in;
}

.tab:hover {
  background-color: antiquewhite;
}

.tab-content {
  display: flex;
  /* padding: 20px; */
}

.active {
  background-color: #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.active-content {
  display: block;
}

/*  */
a {
  text-decoration: none;
}
.blog-page {
  text-transform: capitalize;
  font-size: large;
  display: block;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  margin-bottom: 20px;
  padding: 20px;
  color: black;
  background-color: antiquewhite;
  transition: all 0.2s ease-in;
}

.blog-page:hover {
  background-color: #fff;
  transform: scale(0.97);
}

/* DOGEMAP PAGE */

.navigation-page-section-div {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
}

.navigation-page-section-div a {
  border-bottom: 1px solid black;
  padding: 2px 0;
  width: 100%;
}

.dogemap-body {
  padding: 20px;
}

.arrow-back {
  align-items: end;
  display: flex;
  justify-content: end;
}

.arrow-back h2 {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.title {
  display: inline-block;
}

.main {
  margin: 100px 0;
}

.p-main {
  margin: 20px 0;
  opacity: 0;
  padding: 10px;
}
